<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}LPSMIN{% endblock %}
        </title>
        <link href="https://bootswatch.com/4/lux/bootstrap.min.css" rel="stylesheet" type="text/css">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        
        <style>
            *{
                margin: 0px;
                padding: 0px;
            }

            body{
                background-image:url(./assets/imges/computer.jpg) ;
                background-attachment: fixed;
                background-size: cover;
            }

            h2{
                font-size: 40px;
                color: black;
                margin-top: 90px;
            }

            p{
                font-size: 15px;
            }

            .form-control{
                background: #e0e0d1;
                font-size: 15px;
                color: white;
                margin-top: 10px;
                padding: 15px;
                color: #000;
                font-weight: bold
            }

            input[type="checkbox"]{
                margin-top: 20px;
                height: 15px;
                width: 15px;
            }

            small{
                font-size:15px;
                margin-left: 10px;
            }

            .btn-info{
                font-size: 12px;
                width: 170px;
                border-radius: 100px;
                border: 0px;
                background: #873fdf;
                display: block;
                margin : auto;
            }

            .round {
                border-radius: 20px;
            }

            h1{
                display: block;
                margin: 11px 0 17px 0;
                font-size: 100px;
                line-height: 80px;
                color: #f1ebe5;
                letter-spacing: -4px;
            }
        </style>
    
        {% block stylesheets %}{% endblock %}
    </head>

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

<div class="container">

<div class="row mt-3">
    <div class="col-md-3">&nbsp;</div>
    
    <div class="col-md-6">
    
    <div class="bg-light py-3 px-3 round" style="box-shadow: 2px 3px;">

    <a href="{{ path('login') }}" class="btn" style="display: block; margin : auto;">
         <i class="material-icons">home</i>
     </a>

    <h1 style="padding-top: 30px;color:#000; font-weight: bold; text-align:center; margin-botton:80px;font-size: 40px">
    <span>&nbsp;INSCRIPTION&nbsp;</span>
    </h1>

    <hr style="background-color:#999999;">
    
    {{ form_start(form)}}

    {{ form_row(form.firstname, {'label': "Prénom de l'utilisateur",'attr': {'placeholder': 'Entrez votre prénom...'}})}}
    {{ form_row(form.lastname, {'label': "Nom de l'utilisateur",'attr': {'placeholder': 'Entrez votre nom...'}})}}
    {{ form_row(form.email, {'label': "Adresse email",'attr': {'placeholder': 'doe@doe.com'}})}}
    {{ form_row(form.password, {'label': "Mot de passe",'attr': {'placeholder': '******'}})}}
    {# {{ form_row(form.role)}} #}

     <div class="form-group">
        <button class="btn btn-info mb-5" type="submit">S'inscrire</button>
     </div>

    {{ form_end(form)}}


</div>
</div>
</div>
</div>

{% endblock %}
